a {
  text-decoration: none;
  color: #4183c4;
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
  font-weight: bold;
}

p {
  margin: 0 1em;
}

.icon {
  width: 18px;
}

a.repo {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../image/octocat.png) no-repeat;
  background-size: 24px;
  vertical-align: bottom;

  display: none;
}
